<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.test.demo1.mapper.JgjAppuserMapper">

    <resultMap id="BaseResultMap" type="com.jt.test.demo1.domain.entity.JgjAppuser">
            <id property="userid" column="userId" jdbcType="VARCHAR"/>
            <result property="username" column="userName" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="realname" column="realName" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="cardCode" column="card_code" jdbcType="VARCHAR"/>
            <result property="userType" column="user_type" jdbcType="INTEGER"/>
            <result property="oldpassword" column="oldPassword" jdbcType="VARCHAR"/>
            <result property="gestureinfo" column="gestureInfo" jdbcType="VARCHAR"/>
            <result property="checkId" column="check_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,userName,password,
        status,realName,email,
        mobile,card_code,user_type,
        oldPassword,gestureInfo,check_id
    </sql>
</mapper>
